<h1>
    {{shop.shop_name}}
</h1>

<form method="post" action="{% url 'order' %}">
    <ol>
        <h4> 1. 주문하실 음식을 골라주세요. </h4>
        {% for menu in menus %}
            <h5>
            <input type="checkbox" id="menu{{ forloop.counter }}" name="menu" value="{{ menu.menu_name }}">
            <label for="menu{{ forloop.counter }}"> {{ menu.menu_name }} </label>
            </h5>
        {%endfor%}
    </ol>
    <ol>
        <h4> 2. 주소를 입력해주세요. </h4>
        <input type="text" name="address" required>
    </ol>
    <ol>
        <h4> 3. 요청 메세지를 입력해주세요. </h4>
        <input type="text" name="msg">
    </ol>
    <input type="hidden" name="shop_id" value="{{shop.id}}" />
    <input type="submit" value="주문하기" />
</form>