<table style="border: 1px solid black; border-collapse: collapse">
    <tr style="border: 1px solid black;">
        <th style="border: 1px solid black;">주문 시간</th>
        <th style="border: 1px solid black;">음식</th>
        <th style="border: 1px solid black;">주소</th>
        <th style="border: 1px solid black;">예상 소요시간</th>
        <th style="border: 1px solid black;">배달 완료 여부</th>
        <th style="border: 1px solid black;">요청 메세지</th>
    </tr>
    {% for order in orders %}
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;">
            {{ order.order_date }}
        </td>
        <td style="border: 1px solid black;">
            {% for ordermenu in order.ordermenu_set.all %}
                <h5> {{ordermenu.order_menu_name}}</h5>
            {% endfor %}
        </td>
        <td style="border: 1px solid black;">
            {{ order.delivery_address }}
        </td>
        <td style="border: 1px solid black;">
            {% if order.estimated_time == -1 %}
                미정
            {% else %}
                {{order.estimated_time}}분
            {% endif %}
        </td>
        <td style="border: 1px solid black;">
            {% if order.delivery_finish == 0 %}
                배송중
            {% else %}
                완료
            {% endif %}
        </td>
        <td style="border: 1px solid black;">
            {{order.delivery_msg}}
        </td>
    </tr>
    {% endfor %}
</table>